
body, html {
  margin: 0 auto ;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:100
}

/* Navbar container */
  
.navbar {
  overflow: hidden;
  background-color: rgb(10, 15, 15);
  font-family: Arial;
}

.header {
  grid-area: header;
  text-align: center;
  padding: 10px;
  background-color: rgb(10, 15, 15);
}

/* Links inside the navbar */

.navbar a {
  float: left;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: cadetblue;
}

/* Dropdown content (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkslategray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */

.dropdown-content a:hover {
  background-color: cadetblue;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

.leaflet-container {
   position: relative;
   outline: none;
   width: 70%;
   background-color: rgb(17, 22, 22);
} 

body {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 100% 0%;
  grid-template-areas: "header header" "sidebar content";
}


.sidebar {
  color: rgb(255, 255, 255);
  grid-area: sidebar;
  padding: 10px;
  filter: brightness(100%);
  background-image: url(https://www.pewtrusts.org/-/media/post-launch-images/2020/10/gettyimages1223473846jpgmaster/16x9_m.jpg?mw=2580&hash=7651902412A7BB1E94A8D83923DCAEB6);
  background-color:rgb(17, 22, 22);
  overflow: auto;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.564);
  background-blend-mode: multiply;
  height: 1000px;
}

.content {
  grid-area: content;
  background-color: rgb(255, 255, 255);
}

a {
  font-size: 25px;
  color: cornflowerblue;
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

.button {
  border: 2px solid black;
  color: cadetblue;
  background-color: darkslategray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;  /* rounded edges*/
}

.button:hover {
  background-color: rgb(17, 22, 22);;
  color: white;
}