body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

#quiz {
    margin: auto;
    padding-bottom: 10%;
    background-color:lightblue;
    width: 40%;
border: 4px solid black;
border-radius: 20px;
font-size: xx-large;
font-weight: bold;
font-family: 'Sawarabi Mincho', sans-serif;
text-align: center;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "header" "content";
}

.button {
    border:2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #4CAF50;
    color: white;
  }

.header {
    grid-area: header;
    text-align: center;
    padding: 10px;
    background-color: darkseagreen;

}


.content {
    grid-area: content;
    background-image: url('../trash.jpg');
    background-size: cover;
}


a {
    font-size: 35px;
color: black;
padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

#nav:hover{
    color: cornflowerblue;
}