body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr 20px;
    grid-template-columns: 30% 70%;
    grid-template-areas: "header header" "sidebar content" "footer footer";
}

.header {
    grid-area: header;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 2em;
}

.sidebar {
    color: white;
    grid-area: sidebar;
    padding: 10px;
    background-color: #555;
    overflow: auto;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    padding: 2px;
    background-color: rgb(175, 175, 175);
}

a {
    font-size: 25px;
color:cornflowerblue;
padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}